<div class="full">
	<h3>Contact</h3>
	<p>
		{{client.company}} {{client.type}}
	</p>
	<p ng-repeat="location in client.locations">
		<a href="{{location.map}}" ng-show="location.map != ''" target="_blank">
			{{location.address.street}}<br ng-show="location.address.street != ''">
			{{location.address.city}}, {{location.address.state}} {{location.address.zip}}
		</a>
		<span ng-hide="location.map != ''">
			{{location.address.street}}<br ng-show="location.address.street != ''">
			{{location.address.city}}, {{location.address.state}} {{location.address.zip}}
		</span>
	</p>
	<p>
		<span class="full" ng-repeat="contact in client.contacts">
			<a href="{{contact.method}}{{contact.info}}">{{contact.info}}</a>
		</span>
	</p>
</div>